            
anyio
asgiref
certifi
cffi
charset-normalizer
click
colorama
crispy-bootstrap5
cryptography
diff-match-patch
Django
django-allauth
django-countries
django-crispy-forms
django-extensions
django-import-export
django-solo
et_xmlfile
gunicorn
h11
httptools
idna
iniconfig
Markdown
MarkupSafe
openpyxl
packaging
pillow
pluggy
pycparser
Pygments
PyJWT
pyOpenSSL
pytest
python-dotenv
PyYAML
requests
sniffio
sqlparse
tablib
typing_extensions
tzdata
urllib3
uvicorn
watchfiles
websockets
Werkzeug
whitenoise