Django
django-allauth
django-crispy-forms
crispy-bootstrap5
django-countries
django-import-export
django-solo
django-extensions
python-dotenv
requests
Markdown
Pillow
tablib
openpyxl
gunicorn
uvicorn
whitenoise
pytest
PyJWT
